
<!-- This is the corresponding "starter code" for 04_Hello Map in Udacity and Google's Maps
API Course, Lesson 1 -->
<html>
	
  <head>
	<meta http-equiv="refresh" content="120">
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">

	<!-- Optional theme -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-selector.min.css') }}">



	<script src="{{ url_for('static', filename='jquery.js') }}"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!-- styles put here, but you can include a CSS file and reference it instead! -->
	<style type="text/css">

		html,body {   
		      font-family: Arial, sans-serif;
		      height: 100%;
		      margin: 0;
		      padding: 0; 
		  }


		#map {   height: 100%; }
		#chart{  background-color: #F5F2EB;
		      border: 1px solid #CCC;
		      display: block;
		      margin: auto;

		   }

		.trendline {
		fill: none;
		stroke: #ccc;
		stroke-width: 4px;
		}

		.trendlineIndex {
		fill: none;
		stroke: #000;
		stroke-width: 4px;
		}

	</style>
  </head>


  <body>

	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4">
			  <div class="search-box map show-search-box">
			    <form class="form-map form-search" id="form-map" role="form">
			      <h2>Search</h2>
			      <!--<div class="form-group">
				<input type="text" class="form-control" id="search-box-property-id" placeholder="PropertyID">
			      </div>-->
			      <div class="form-group">
				<select name="type" id="metricSelect">
				  <option value="Linha">Linha</option>
				  <option value="TransCarioca">TransCarioca</option>
				  <option value="TransOeste">TransOeste</option>
				  <option value="TransOlímpica">TransOlímpica</option>
				</select>
			      </div>
			      
			      <div class="form-group">
				<button type="button" onclick="generateHeatmap()" class="btn btn-default">Daily Heatmap</button>
			      </div>

			   </form> 
			  </div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="map"></div>
			</div>
		</div>
	</div>

	<!--
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	-->

	<script type="text/javascript" src="{{ url_for('static', filename='d3.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='chart.js') }}"></script>


  <!--<script async defer src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry&key=AIzaSyDdyZKqw852jtBp9b5XUkPNgzvLNkJIkUg&v=3&callback=initMap"></script>
  -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry&key=AIzaSyDdyZKqw852jtBp9b5XUkPNgzvLNkJIkUg&v=3"></script>

   <script type="text/javascript" src="{{ url_for('static', filename='heatmap.min.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='gmaps-heatmap.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  
  <script>
  document.addEventListener("DOMContentLoaded", function(event) {
    initMap();
    loadStationMarkers();
    loadMarkers();
  });
  
  </script>

 </body>
</html>

